<section class="content">
      <!-- Info boxes -->
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="ion ion-ios-gear-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{ majorOne }}</span>
              <span class="info-box-number">10<small>%</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-google-plus"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{ majorTwo }}</span>
              <span class="info-box-number">10<small>%</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="ion ion-ios-cart-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{ majorThree }}</span>
               <span class="info-box-number">05<small>%</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="ion ion-ios-people-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{ majorFour }}</span>
              <span class="info-box-number">3<small>%</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-codiepie"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{ majorFive }}</span>
              <span class="info-box-number">06<small>%</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-green"><i class="fa fa-codepen"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{ majorSix }}</span>
              <span class="info-box-number">05<small>%</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->

        <!-- fix for small devices only -->
        <div class="clearfix visible-sm-block"></div>

        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-red"><i class="fa fa-css3"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{ majorSeven }}</span>
               <span class="info-box-number">05<small>%</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-aqua"><i class="fa fa-plane"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{ majorEight }}</span>
              <span class="info-box-number">54<small>%</small></span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->

      <div class="row">
        <div class="col-md-6">
         <div class="box box-danger">
                <div class="box-header with-border">
                  <h3 class="box-title">Top Technologies</h3>

                  <div class="box-tools pull-right">
                    <span class="label label-danger">8 New Members</span>
                    <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i>
                    </button>
                  </div>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                  <ul class="users-list clearfix">
                    <li>
                      <img src="dist/img/ppp/angular.png" alt="User Image">
                      <a class="users-list-name" href="#">{{ majorOne }}</a>
                      <span class="users-list-date">Today</span>
                    </li>
                    <li>
                      <img src="dist/img/ppp/download.jpg" alt="User Image">
                      <a class="users-list-name" href="#">{{ majorTwo }}</a>
                      <span class="users-list-date">Yesterday</span>
                    </li>
                    <li>
                      <img src="dist/img/ppp/download.png" alt="User Image">
                      <a class="users-list-name" href="#">{{ majorThree }}</a>
                      <span class="users-list-date">12 Jan</span>
                    </li>
                    
                   
                    <li>
                      <img src="dist/img/ppp/NodeJS.png" alt="User Image">
                      <a class="users-list-name" href="#">{{ majorFour }}</a>
                      <span class="users-list-date">14 Jan</span>
                    </li>
                    <li>
                      <img src="dist/img/ppp/EPrK3ci2.jpg" alt="User Image">
                      <a class="users-list-name" href="#">{{ majorFive }}</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                    <li>
                      <img src="dist/img/ppp/React-icon.svg.png" alt="User Image">
                      <a class="users-list-name" href="#">{{ majorEight }}</a>
                      <span class="users-list-date">15 Jan</span>
                    </li>
                  </ul>
                  <!-- /.users-list -->
                </div>
                <!-- /.box-body -->
                <div class="box-footer text-center">
                  <a href="javascript:void(0)" class="uppercase"></a>
                </div>
                <!-- /.box-footer -->
              </div>
          <!-- /.box -->
        </div>
          <div class="col-md-6">
          <div class="box box-info">
            <div class="box-header with-border">
              <h3 class="box-title">Tags Used</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <div class="table-responsive">
                <table class="table no-margin">
                  <thead>
                  <tr>
                    <th>Name</th>
                    <th>Confidence</th>
                    <th>Icon</th>
                    <th>FrameWork</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><a href="pages/examples/invoice.html">{{ majorOne }}</a></td>
                    <td>{{majorOneConfidence}}</td>
                    <td><span class="label label-success">{{majorOneTag}}</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00a65a" data-height="20">{{majorOneFrame}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">{{ majorTwo }}</a></td>
                    <td>{{majorTwoConfidence}}</td>
                    <td><span class="label label-warning">{{majorTwoTag}}</span></td>
                    <td>
                      <div class="sparkbar" data-color="#f39c12" data-height="20">{{majorTwoFrame}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">{{ majorThree }}</a></td>
                    <td>{{majorThreeConfidence}}</td>
                    <td><span class="label label-danger">{{majorThreeTag}}</span></td>
                    <td>
                      <div class="sparkbar" data-color="#f56954" data-height="20">{{majorThreeFrame}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">{{ majorFour }}</a></td>
                    <td>{{majorFourConfidence}}</td>
                    <td><span class="label label-info">{{majorFourTag}}</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00c0ef" data-height="20">{{majorFourFrame}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">{{ majorFive }}</a></td>
                    <td>{{majorFiveConfidence}}</td>
                    <td><span class="label label-danger">{{majorFiveTag}}</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00c0ef" data-height="20">{{majorFourFrame}}</div>
                    </td>
                  </tr>
                  <tr>
                    <td><a href="pages/examples/invoice.html">{{ majorEight }}</a></td>
                    <td>{{majorEightConfidence}}</td>
                    <td><span class="label label-warning">{{majorEightTag}}</span></td>
                    <td>
                      <div class="sparkbar" data-color="#00c0ef" data-height="20">{{majorEightFrame}}</div>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
              <!-- /.table-responsive -->
            </div>
            <!-- /.box-body -->
            <div class="box-footer clearfix">
              <a href="javascript:void(0)" class="btn btn-sm btn-info btn-flat pull-left">Place New Order</a>
              <a href="javascript:void(0)" class="btn btn-sm btn-default btn-flat pull-right">View All Orders</a>
            </div>
            <!-- /.box-footer -->
          </div>
          </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    
    <div class="row">
        <div class="col-md-6">
        
            <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Frameworks Used</h3>

              <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
              </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <ul class="products-list product-list-in-box">
                <li class="item">
                  <div class="product-img">
                    <img src="dist/img/ppp/angular.png" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">{{majorOne}}
                      <span class="label label-warning pull-right">$1800</span></a>
                        <span class="product-description">
                          {{majorOneFrame}}
                        </span>
                  </div>
                </li>
                <!-- /.item -->
                <li class="item">
                  <div class="product-img">
                    <img src="dist/img/ppp/images (1).jpg" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">{{majorTwo}}
                      <span class="label label-info pull-right">$700</span></a>
                        <span class="product-description">
                          {{majorTwoFrame}}
                        </span>
                  </div>
                </li>
                <!-- /.item -->
                <li class="item">
                  <div class="product-img">
                    <img src="dist/img/ppp/expressjs-mini-logo.jpg" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">{{majorThree}} <span class="label label-danger pull-right">$350</span></a>
                        <span class="product-description">
                          {{majorThreeFrame}}
                        </span>
                  </div>
                </li>
                <!-- /.item -->
                <li class="item">
                  <div class="product-img">
                    <img src="dist/img/ppp/aa.png" alt="Product Image">
                  </div>
                  <div class="product-info">
                    <a href="javascript:void(0)" class="product-title">{{majorEight}}
                      <span class="label label-success pull-right">$399</span></a>
                        <span class="product-description">
                          {{majorEightFrame}}
                        </span>
                  </div>
                </li>
                <!-- /.item -->
              </ul>
            </div>
            <!-- /.box-body -->
            <div class="box-footer text-center">
              <a href="javascript:void(0)" class="uppercase">View All Products</a>
            </div>
            <!-- /.box-footer -->
          </div>
          <!-- /.box -->
        </div>
          <div class="col-md-6">
            <div class="info-box bg-yellow">
            <span class="info-box-icon"><i class="ion ion-ios-pricetag-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{majorOne}}</span>
              <span class="info-box-number">{{majorOneConfidence}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 50%"></div>
              </div>
                  <span class="progress-description">
                    50% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-green">
            <span class="info-box-icon"><i class="ion ion-ios-heart-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{majorTwo}}</span>
              <span class="info-box-number">{{majorTwoConfidence}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 20%"></div>
              </div>
                  <span class="progress-description">
                    20% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-red">
            <span class="info-box-icon"><i class="ion ion-ios-cloud-download-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{majorThree}}</span>
              <span class="info-box-number">{{majorThreeConfidence}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 70%"></div>
              </div>
                  <span class="progress-description">
                    70% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="info-box bg-aqua">
            <span class="info-box-icon"><i class="ion-ios-chatbubble-outline"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">{{majorFour}}</span>
              <span class="info-box-number">{{majorFourConfidence}}</span>

              <div class="progress">
                <div class="progress-bar" style="width: 40%"></div>
              </div>
                  <span class="progress-description">
                    40% Increase in 30 Days
                  </span>
            </div>
            <!-- /.info-box-content -->
          </div>
          </div>
        <!-- /.col -->
      </div>

      <!-- Main row -->
      <div class="row">
        <!-- Left col -->
        <div class="col-md-6">
          <!-- MAP & BOX PANE -->
          
            <div class="col-md-6">
              <!-- USERS LIST -->
             
              <!--/.box -->
            </div>
        
          <!-- /.row -->

          <!-- TABLE: LATEST ORDERS -->
          
          <!-- /.box -->
        </div>
        <!-- /.col -->

        <div class="col-md-4">
          <!-- Info Boxes Style 2 -->
          
          <!-- /.info-box -->

         
          <!-- /.box -->

          <!-- PRODUCT LIST -->
          
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </section>